.section-header{
    box-shadow: 0px 0px 6px #00000059;
    text-align: center; 
    height: 50px;
    background-color: #3274e9;
}
h3{
    padding: 12px;
}
.container {
    max-height: 80vh;
    overflow-y: auto;
    display: block;
    position: relative;
  }
// .header-title {
//     font-size: 1.5rem;
//     color: #333;
//     font-weight: 500;
//     margin-top: 0.5rem;
//   }